body {
    background-image: linear-gradient(to right bottom, #0e0e0f, #191819, #242222, #2d2c2a, #363634);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: Inter,fallback-inter,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;

}

.container {
    background: transparent;
    border-radius: 40px;
    opacity: 85%;
    color: white;
    padding-top: 160px;
}

.container h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-bottom: 20px;
}

.information {
    padding-bottom: 30px;
    padding-left: 20px;
}

#bullets {
    margin-left: 20px;
}